{% extends 'baseapp/base.html' %}


{% block content %}
    
<div id="main1" class="row justify-content-center my-5">
    <div id="result"  class="col-md-5">
        <div id="sub" class="mt-4 p-5 bg text-white rounded mb-3">
            <h2 id="text">AirPlane Updates</h2>
        </div>
        <form action="" method="POST">
            {% csrf_token %}
            <div class="input-group">
              <input type="text" class="form-control" name="airline" placeholder="Enter Airline.......">
              <div class="input-group-append">
                <button id="btn" class="btn btn-success" type="submit">
                  Show
                </button>
              </div>
            </div>
          </form>
        <hr>
        {% for data in datas %}
        <div class="card p-2 my-2">
            <div class="card-body">
                <div class="card-text text-black">Registration Number: <span>{{ data.registration_number}}</span></div>
                <div class="card-text text-black">Production Line: <span>{{ data.production_line}}</span></div>
                <div class="card-text text-black">Model Name: <span>{{ data.model_name }}</span></div>
                <div class="card-text text-black">Model Code: <span>{{ data.model_code }}</span></div>
                <div class="card-text text-black">First Flight Date: <span>{{ data.first_flight_date }}</span></div>
                <div class="card-text text-black">Delivery Date: <span>{{ data.delivery_date }}</h6></div>
            </div>
        </div>
        {% endfor %}

    </div>
</div>

{% endblock content %}
    